apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: costpolicies.cloudvault.io
spec:
  group: cloudvault.io
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                budget:
                  type: number
                alertThreshold:
                  type: integer
                action:
                  type: string
                selector:
                  type: object
                  properties:
                    namespaces:
                      type: array
                      items:
                        type: string
                    labels:
                      type: object
                      additionalProperties:
                        type: string
            status:
              type: object
              properties:
                currentSpend:
                  type: number
                lastEvaluated:
                  type: string
                  format: date-time
  scope: Cluster
  names:
    plural: costpolicies
    singular: costpolicy
    kind: CostPolicy
    shortNames:
      - cp
