apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: storagelifecyclepolicies.cloudvault.io
spec:
  group: cloudvault.io
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                selector:
                  type: object
                  properties:
                    matchLabels:
                      type: object
                      additionalProperties:
                        type: string
                    matchNamespaces:
                      type: array
                      items:
                        type: string
                tiers:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      storageClass:
                        type: string
                      duration:
                        type: string
                autoDelete:
                  type: boolean
            status:
              type: object
              properties:
                managedPVCs:
                  type: integer
                activeAlerts:
                  type: array
                  items:
                    type: string
  scope: Namespaced
  names:
    plural: storagelifecyclepolicies
    singular: storagelifecyclepolicy
    kind: StorageLifecyclePolicy
    shortNames:
      - slp
